h1{
    text-align: center;
    background-color: blue;
    color: white;
    margin:0;
}

.side{
    display: flex;
    justify-content: space-around;
    font-size: 30px;
        background-color: grey;

}



.score-container{
    border:2px solid black;
    background-color: red;
    display: flex;
    justify-content: space-around;
    padding: 12px 0;
}

.score-joueur,.score-ordi{
    font-size: 30px;
    font-weight: bold;
    
}


.choix-container{
            background-color: grey;

    display:flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
    margin-bottom: 30px;
        padding: 12px 5px;

}

.choix-joueur,.choix-ordi{
            padding: 12px 5px;

    color:black;
    font-size:25px;
}

.boutons{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;
}

button{
    padding: 6px 13px;
    font-size:20px ;
    color:white;
    background-color: red;
    border-radius: 12px;
}

.endGame{
    text-align: center;
    font-size: 25px;
    color:black;
    width: 100px;
    padding: 4px 12px;
    border-radius: 5px;
    margin:auto;
}

